<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="maps-page">

  <%- include('partials/_nav'); %>

  <main class="maps-page-container">

    <header class="maps-page-header">
      <div class="pins-map-details">
        <h2>WELCOME!</h2>
        <h3><em>Here are some maps made by local legends ...</em></h3>
      </div>
    </header>

    <section class="map-container">

      <!-- Shows map for each map in database -->
      <% for(const map of maps) { %>
        <article class="map">
          <header class="map-header">
            <span class="map-creator-name"><%= map.creator_name %></span>
          </header>

          <main class="map-main">
            <img src="<%= map.map_img_url %>">
            <div class="map-details">
              <span class="name"><%= map.title %></span>
              <span ><%= map.city %>, <%= map.country %></span>
              <span class="description"><%= map.description %></span>
            </div>
            <form method="GET" action="/pins/<%= map.id %>" >
              <button class="see-more-button">
                <em>Check it out <i class="fas fa-angle-double-right"></i></em>
              </button>
            </form>
          </main>

          <footer class="map-footer">
            <div class="map-footer-left">
              <span> <%= moment(map.date_created).format("MMMM DD, YYYY") %> </span>
            </div>
            <div class="map-footer-right">
              <i class="fas fa-map-pin"> <%= map.pin_number%></i>
              <div>
                <span class="hidden">map-id-<%= map.id %></span>
                <button class="favorite-button favorite-false">
                  <i class="fas fa-star"></i>
                </button>
              </div>
            </div>
          </footer>

        </article>
      <% } %>
    </section>

  </main>

  <%- include('partials/_footer'); %>

  <script src="/scripts/favMapsScripts.js"></script>
</body>

</html>
