<!-- REMOVE THIS VIEW - MOVED BUTTONS OVER TO THE OTHER mymaps -->


<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="myMaps-page">

  <%- include('partials/_nav'); %>

  <header class="page-header">
  </header>

  <main class="container">

  <section class="myMaps-container">
    <header class="myMaps-container-header">
      <h3></h3>
    </header>
    <!-- Shows map for each map in database -->
    <% for(let map of maps) { %>
      <article class="myMaps">
        <header class="myMaps-header">
          <span class="myMaps-creator-name"><%= map.creator_name %></span>
              <div class="mymaps-modify-buttons">
                <form method="GET" action="/map/<%= map.id %>">
                  <button><i class="fas fa-pencil-alt"></i></button>
                </form>
                <form method="POST" action="/map/delete/<%= map.id %>">
                  <button><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>
        </header>
        <main class="myMaps-main">
          <div class="myMaps-thumbnail">image</div>
          <div class="myMaps-details">
            <span class="name"><%= map.title %></span>
            <span class="location"><%= map.city %>, <%= map.country %></span>
            <span class="description"><%= map.description %></span>
          </div>
        </main>
        <footer class="myMaps-footer">
          <div class="myMaps-footer-left">
            <span class="myMaps-date"><%= map.date_created %></span>
          </div>
          <div class="myMaps-footer-right">
            <i class="fas fa-map-pin"> 0</i>
            <i class="far fa-star"></i>
          </div>
        </footer>
      </article>
    <% } %>
  </section>

  </main>

  <%- include('partials/_footer'); %>
</body>

</html>
