<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body>

  <%- include('partials/_nav'); %>

  <main class="main-pins-container">

    <header>
      <div class="pins-map-details">
        <h2><%= mapData.title %> • <%= mapData.city %></h2>
        <h3><em><%= mapData.description %></em></h3>
      </div>
      <button id="add-new-pin" type="submit">+ Add Pin</button>
    </header>

    <section class="pins-container">

      <% for(const pin of pinsArray) { %>
        <article class=pin-container>
          <div class=pin-container-inside>
            <img src="<%= pin.img_url %>">
            <div class="pin-details">
              <h4><%= pin.title %></h4>
              <p><em><%= pin.description %></em></p>
            </div>
          </div>
          <div class="pin-details">
            <p class="coords"><em>LAT: <%= pin.lat %></em></p>
            <p class="coords"><em>LNG: <%= pin.lng %></em></p>
          </div>
          <div class=pin-container-inside>
            <span class="pin-creator"><i class="fas fa-map-marker-alt"></i><%= pin.creator %></span>

            <% if (user === pin.creator_id) { %>
              <div class="pin-modify-buttons">
                <button id="pin-update-button"><i class="fas fa-edit"></i></button>
                <button id="pin-delete-button"><i class="fas fa-trash-alt"></i></button>
              </div>
            <% } %>

          </div>
        </article>
      <% } %>

    </section>

    <section id="map-container">
      <div id="map">
      </div>
    </section>

  </main>

  <%- include('partials/_footer'); %>

  <!-- Embedded JS for Google Maps API -->
  <script>

    function initMap() {
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: { lat: <%= pinsArray[0].lat %>, lng: <%= pinsArray[0].lng %> }
      });

      function addMarker(coords) {
        let marker = new google.maps.Marker({
          position: coords,
          map: map
        });
      }

      <% for (const pin of pinsArray) { %>
        addMarker({ lat: <%= pin.lat %>, lng: <%= pin.lng %> });
      <% } %>

    };

  </script>

  <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= config.API_KEY %>&callback=initMap">
  </script>

</body>

</html>
