<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body>

  <%- include('partials/_nav'); %>

  <main class="main-pins-container">

    <header>
      <div class="pins-map-details">
        <h2><%= mapData.title %> • <%= mapData.city %></h2>
        <h3><em><%= mapData.description %> - <%= mapData.map_creator %> </em></h3>
      </div>
      <button id="add-new-pin" type="submit">+ Add Pin</button>
    </header>

    <section class="new-pin-container hidden">
      <form id="new-pin-form" method="POST" action="/pins/<%= mapData.id %>">
        <div>
          <input id="new-pin-title" name="title" placeholder="Title">
          <input name="description" placeholder="Description">
        </div>
        <div>
          <input name="lat" placeholder="Latitude">
          <input name="lng" placeholder="Longitude">
        </div>
        <div>
          <input type="url" name="img_url" placeholder="Image URL">
          <div class="add-pin-button-box">
            <button id="cancel-new-pin-button" type="reset">Cancel</button>
            <button id="submit-new-pin-button" type="submit">Add</button>
          </div>
        </div>
      </form>
    </section>

    <section class="pins-container">

      <% for(let i = 0; i < pinsArray.length; i++) { %>
        <article class=pin-container>
          <div class=pin-container-inside>
            <img src="<%= pinsArray[i].img_url %>">
            <div class="pin-details">
              <h4><%= i + 1 %> • <%= pinsArray[i].title %></h4>
              <p><em><%= pinsArray[i].description %></em></p>
            </div>
          </div>
          <div class="pin-details">
            <p class="coords"><em>LAT: <%= pinsArray[i].lat %></em></p>
            <p class="coords"><em>LNG: <%= pinsArray[i].lng %></em></p>
          </div>
          <div class=pin-container-inside>
            <span class="pin-creator"><i class="fas fa-map-marker-alt"></i><%= pinsArray[i].creator %></span>

            <% if (user === pinsArray[i].creator_id) { %>
              <div class="pin-modify-buttons">
                <form method="GET" action="/pin/<%= pinsArray[i].id %>">
                  <button><i class="fas fa-pencil-alt"></i></button>
                </form>
                <form method="POST" action="/pin/delete/<%= pinsArray[i].id %>">
                  <button><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>
            <% } %>

          </div>
        </article>
      <% } %>

    </section>

    <section id="map-container">
      <div id="map">
      </div>
    </section>

  </main>

  <%- include('partials/_footer'); %>


  <!-- Embedded JS for buttons & the Google Maps API -->
  <script src="/scripts/pinPageScripts.js"></script>
  <script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= config.API_KEY %>&callback=initMap">
</script>

  <script>
  // Check for pins in the pins array before trying to initMap
  <% if (pinsArray.length) { %>

      function initMap() {

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: { lat: <%= pinsArray[0].lat %>, lng: <%= pinsArray[0].lng %> }
        });

        // Add a listener to show a new marker on the map on click
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker({
            coords: event.latLng,
            label: null,
            content: `<h4> ${event.latLng} </h4>`
          })
        });

        // Set up the addMarker function to be called later in a loop
        function addMarker(settings) {
          let marker = new google.maps.Marker({
            position: settings.coords,
            map: map,
            label: settings.label
          });

          // Add an info window for each marker
          let infoWindow = new google.maps.InfoWindow({
            content: settings.content
          });

          // Add click listener for each marker to display info window
          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }

          // Iterate on the pinsArray passed in from templateVars and add a marker for each pin
        <% for (let i = 0; i < pinsArray.length; i++) { %>
            addMarker({
              coords: { lat: <%= pinsArray[i].lat %>, lng: <%= pinsArray[i].lng %> },
              label: (<%= i %> + 1).toString(),
              content: "<h4> <%= pinsArray[i].title %> </h4> \
                        <p> <%= pinsArray[i].description %> </p>"
            });
        <%}%>

      }

  // If the current map has no pins, initMap sets default coordinates for center of Canada
  <% } else { %>
        function initMap() {
          let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: { lat: 51.95075825946005, lng: -94.63875081215339 }
          });

          google.maps.event.addListener(map, 'click', function(event) {
            addMarker({
              coords: event.latLng,
              label: null,
              content: `<h4> ${event.latLng} </h4>`
            })
          });

          function addMarker(settings) {
            let marker = new google.maps.Marker({
              position: settings.coords,
              map: map,
              label: settings.label
            });

            // Add an info window for each marker
            let infoWindow = new google.maps.InfoWindow({
              content: settings.content
            });

            // Add click listener for each marker to display info window
            marker.addListener('click', function(){
              infoWindow.open(map, marker);
            });
          }
        }
  <% } %>

  </script>


</body>

</html>
