<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="maps-page">

  <%- include('partials/_nav'); %>

  <header class="page-header">
  </header>

  <main class="container">

  <section class="map-container">
    <header class="map-container-header">
      <h3></h3>
    </header>
    <!-- Shows map for each map in database -->
    <% { %>
      <article class="map">
        <header class="map-header">
          <span class="map-creator-name"><%= map.creator_name %></span>
        </header>
        <main class="map-main">
          <div class="map-thumbnail">image</div>
          <div class="map-details">
            <span class="name"><%= map.title %></span>
            <span class="location"><%= map.city %>, <%= map.country %></span>
            <span class="description"><%= map.description %></span>
          </div>
        </main>
        <footer class="map-footer">
          <div class="map-footer-left">
            <span class="map-date"><%= map.date_created %></span>
          </div>
          <div class="map-footer-right">
            <i class="fas fa-map-pin"> 0</i>
            <i class="far fa-star"></i>
          </div>
        </footer>
      </article>
    <form action="/map/<%= map.id %>" method="post">
      <% } %>
      <article class="newmap">
        <header class="newmap-header">
        </header>
        <main class="newmap-main">
          <div class="newmap-details">
            <span class="newmap-head">
              <input type="text" id="newmap-title" name="title" placeholder="Map Title"><br>
                <span class="newmap-creator-name">
                  <input type="submit" value="Submit">
                </span>
            </span>
            <span class="newmap-location">
                <input class="newmap-location-input" type="text" id="newmap-city" name="city" placeholder="City">
                <input class="newmap-location-input" type="text" id="newmap-province" name="province" placeholder="Province">
                <input class="newmap-location-input" type="text" id="newmap-country" name="country" placeholder="Country">
            </span>
            <span class="newmap-description">
              <input type="text" id="newmap-description" name="description" placeholder="Description">
            </span>
            <div class="newmap-thumbnail">
              <input type="text" id="newmap-thumbnail" name="thumbnail" placeholder="Paste Image Url">
            </div>
          </div>
        </main>
        <footer class="newmap-footer">
          <div class="newmap-footer-left"></div>
          <div class="newmap-footer-right"></div>
        </footer>
      </article>
    </form>
  </section>

  </main>

  <%- include('partials/_footer'); %>
</body>

</html>
